* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 375px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: #F7F7F7;
}

h1 {
  font-weight: 700;
  font-size: 24px;
}

h2 {
  font-weight: 700;
  font-size: 18px;
}

.menus {
  background: #353535;
}

.menus h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
}

.menus h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.menus h3 {
  font-weight: 500;
  font-size: 18px;
}

.menus__subtitle {
  font-weight: 300;
  font-size: 15.0431px;
}

.menus__price {
  font-weight: 700;
}

footer {
  background-color: #353535;
  color: #FFFFFF;
}

/*** Page d'accueil ***/
.entete {
  text-align: center;
}
.entete__logo {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.entete__logo img {
  width: 162px;
  padding: 14px 0 5px 0;
}
.entete__search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background: #EAEAEA;
  color: #353535;
  padding: 15.5px 0;
}
.entete__title {
  margin: 39.5px 58px 0 42px;
}
.entete__paragraph {
  font-weight: 300;
  font-size: 18px;
  margin: 10px 26px 0 34px;
}
.entete__btn {
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border: none;
  margin-top: 27px;
  margin-bottom: 57px;
  padding: 13px 18.75px;
}
.entete__btn:hover {
  cursor: pointer;
  opacity: 85%;
}

.order {
  background: #FFFFFF;
  padding-top: 48px;
  padding-bottom: 68px;
}
.order__title {
  margin-left: 20px;
}
.order__nav {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  gap: 24.92px;
}
.order__btn {
  position: relative;
  display: flex;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 32.51px;
  padding: 20px 38px 20px 33px;
}
.order__btn1 {
  gap: 27px;
}
.order__btn2 {
  gap: 23px;
}
.order__btn3 {
  gap: 20px;
}
.order__icon1, .order__icon2 {
  color: #7E7E7E;
}
.order__icon3 {
  color: #9356DC;
}

.btn1__number, .btn2__number, .btn3__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 310px;
  width: 24px;
  height: 24px;
  background: #9356DC;
  color: #FFFFFF;
  border-radius: 50%;
}

.restaurant__title {
  margin-top: 54px;
  margin-left: 20px;
}

.card {
  position: relative;
  background: #FFFFFF;
  margin: 20px 18px 0 17px;
  border-radius: 15px;
}
.card__photo {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card__bottom {
  -o-object-position: bottom;
     object-position: bottom;
}
.card__center {
  -o-object-position: center 61%;
     object-position: center 61%;
}
.card__nouveau {
  position: absolute;
  top: 13px;
  right: 12px;
  color: #008766;
  background-color: #99E2D0;
  padding: 7px 9.63px 7px 9px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__text {
  margin: 16px 0 12px 13px;
}
.card__subtitle {
  font-weight: 300;
  font-size: 17px;
  margin-top: 5px;
}
.card__heart {
  margin-right: 25px;
}

.pied {
  padding: 22px 0 22px 25px;
  margin-top: 66px;
}
.pied__logo img {
  width: 95px;
  filter: invert(100%);
  margin: 0 0 16px 0;
}
.pied__proposition {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 7px;
}
.pied__partenaire {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 7px;
}
.pied__subtitle {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-weight: 400;
}

/*** Premier restaurant ***/
.menu-entete {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.menu-entete__arrow {
  color: #353535;
  margin-left: 23px;
}
.menu-entete__logo img {
  width: 162px;
  padding: 14px 0 5px 0;
  margin-left: 66px;
}

.menus__photo {
  display: block;
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
.menus__content {
  position: relative;
  background: #F7F7F7;
  border-radius: 40px 40px 0 0;
  margin-top: -55px;
}
.menus__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 41px 0 17px;
  padding-top: 32px;
}
.menus__dish h2 {
  position: relative;
  margin: 40px 0 0 13px;
}
.menus__dish h2::after {
  content: "";
  position: absolute;
  border: 2px solid #99E2D0;
  top: 23px;
  left: 0;
  width: 36px;
}
.menus__navigation {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}
.menus__choice {
  background: #FFFFFF;
  border-radius: 15.0431px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  padding: 12px 13px 12px 15px;
  margin: 0 13px;
}
.menus__subtitle {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}
.menus__btn {
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border: none;
  margin: auto;
  width: 186px;
  margin-top: 28px;
  padding: 13px 16px;
}
.menus__btn:hover {
  cursor: pointer;
  opacity: 85%;
}

.menus-pied {
  padding: 22px 0 22px 25px;
  margin-top: 40px;
}
.menus-pied__logo img {
  width: 95px;
  filter: invert(100%);
  margin: 0 0 16px 0;
}
.menus-pied__proposition {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 7px;
}
.menus-pied__partenaire {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 7px;
}
.menus-pied__subtitle {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */