@charset "UTF-8";
/*** Mixins - Menus ***/
* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: #F7F7F7;
}

h1, h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

.menus {
  background: #FFFFFF;
}

.menus h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
}

.menus h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.menus h3 {
  font-weight: 500;
  font-size: 18px;
  width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-mask-image: linear-gradient(to right, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0));
          mask-image: linear-gradient(to right, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0));
}

.menus__recipe {
  width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-mask-image: linear-gradient(to right, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0));
          mask-image: linear-gradient(to right, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0));
}

.menus__subtitle {
  font-weight: 300;
  font-size: 15.0431px;
}

.menus__price {
  font-weight: 700;
}

footer {
  background-color: #353535;
  color: #FFFFFF;
}

/*** Loader ***/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F7F7F7;
  z-index: 100;
}

.loader--hidden {
  animation: loading-end 3s forwards;
}

.loader__wheel {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border: 3px solid transparent;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: loading-wheel 2s linear infinite;
}

.loader__wheel:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF79DA;
  animation: loading-wheel 3s linear infinite;
}

.loader__text {
  font-size: 24px;
  font-weight: 700;
  background-image: linear-gradient(45deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes loading-wheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading-text {}
@keyframes loading-end {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*** Page d'accueil ***/
.entete {
  text-align: center;
}
.entete__logo {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.entete__logo img {
  width: 162px;
  padding: 14px 0 5px 0;
}
.entete__search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background: #EAEAEA;
  color: #353535;
  padding: 15.5px 0;
}
.entete__title {
  margin: 39.5px 58px 0 42px;
}
.entete__paragraph {
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
}
.entete__btn {
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border: none;
  transition: opacity 600ms, box-shadow 600ms;
  margin-top: 27px;
  margin-bottom: 57px;
  padding: 13px 18.75px;
  transition: opacity 600ms, box-shadow 600ms;
}
.entete__btn:hover {
  opacity: 80%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.entete__btn:hover {
  opacity: 80%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.order {
  background: #FFFFFF;
  padding-top: 48px;
  padding-bottom: 68px;
}
.order__title {
  margin-left: 20px;
}
.order__nav {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  gap: 24.92px;
}
.order__btn {
  position: relative;
  display: flex;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 32.51px;
  padding: 28.59px 0 28.12px 33.47px;
}
.order__btn1 {
  gap: 27px;
}
.order__btn2 {
  gap: 23px;
}
.order__btn3 {
  gap: 20px;
}
.order__icon1, .order__icon2 {
  color: #7E7E7E;
}
.order__icon3 {
  color: #9356DC;
}

.btn1__number, .btn2__number, .btn3__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
  width: 24px;
  height: 24px;
  background: #9356DC;
  color: #FFFFFF;
  border-radius: 50%;
}

.restaurant__title {
  margin-top: 54px;
  margin-left: 20px;
}
.restaurant a {
  color: black;
  text-decoration: none;
}
.restaurant__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 20px 18px 66px 17px;
}

.card {
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.card__photo-badge {
  position: relative;
}
.card__photo {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card__bottom {
  -o-object-position: bottom;
     object-position: bottom;
}
.card__center {
  -o-object-position: center 61%;
     object-position: center 61%;
}
.card__nouveau {
  position: absolute;
  top: 13px;
  right: 12px;
  color: #008766;
  background-color: #99E2D0;
  padding: 7px 9.63px 7px 9px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__text {
  margin: 16px 0 12px 13px;
}
.card__subtitle {
  font-weight: 300;
  font-size: 17px;
  margin-top: 5px;
}
.card__heart {
  margin-right: 25px;
}
.card__heart--full {
  position: relative;
  opacity: 0;
  transition: opacity 600ms;
}
.card__heart--empty {
  position: absolute;
  opacity: 1;
  transition: opacity 600ms;
}
.card__heart:hover .card__heart--empty {
  opacity: 1;
}
.card__heart:hover .card__heart--full {
  opacity: 1;
  transition: opacity 600ms;
}

.pied {
  padding: 22px 0 22px 25px;
}
.pied__logo img {
  width: 95px;
  filter: invert(100%);
  margin: 0 0 16px 0;
}
.pied__proposition {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 7px;
}
.pied__partenaire {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 7px;
}
.pied__subtitle {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-weight: 400;
}

/*** Pages des menus ***/
.menu-entete {
  position: relative;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.menu-entete__arrow {
  position: absolute;
  color: #353535;
  top: 14px;
  left: 23px;
}
.menu-entete__logo img {
  width: 162px;
  margin: 14px 0 5px 0;
}

.menus__heart--full {
  position: relative;
  opacity: 0;
  transition: opacity 600ms;
}
.menus__heart--empty {
  position: absolute;
  opacity: 1;
  transition: opacity 600ms;
}
.menus__heart:hover .menus__heart--empty {
  opacity: 1;
}
.menus__heart:hover .menus__heart--full {
  opacity: 1;
  transition: opacity 600ms;
}

.menus__photo {
  display: block;
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
.menus__content {
  position: relative;
  background: #F7F7F7;
  border-radius: 40px 40px 0 0;
  margin-top: -55px;
}
.menus__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 41px 0 17px;
  padding-top: 32px;
}
.menus__dish h2 {
  position: relative;
  margin: 40px 0 0 13px;
}
.menus__dish h2::after {
  content: "";
  position: absolute;
  border: 2px solid #99E2D0;
  top: 23px;
  left: 0;
  width: 36px;
}
.menus__navigation {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}
.menus__choice {
  position: relative;
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  padding: 12px 0px 12px 15px;
  margin: 0 13px;
}
.menus__choice:hover .menus__check {
  transition: 400ms;
  right: 0;
}
.menus__choice:hover .menus__price {
  transition: 400ms;
  right: 74px;
}
.menus__check {
  transition: 400ms;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  color: #F7F7F7;
  border-radius: 0 15px 15px 0;
  width: 59px;
  height: 100%;
  top: 0;
  right: -60px;
}
.menus__subtitle {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}
.menus__price {
  transition: 400ms;
  position: absolute;
  right: 15px;
}
.menus__btn {
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border: none;
  transition: opacity 600ms, box-shadow 600ms;
  margin: auto;
  width: 186px;
  margin-top: 28px;
  margin-bottom: 40px;
  padding: 13px 16px;
  transition: opacity 600ms, box-shadow 600ms;
}
.menus__btn:hover {
  opacity: 80%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.menus__btn:hover {
  opacity: 80%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.menus-pied {
  padding: 22px 0 22px 25px;
}
.menus-pied__logo img {
  width: 95px;
  filter: invert(100%);
  margin: 0 0 16px 0;
}
.menus-pied__proposition {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 7px;
}
.menus-pied__partenaire {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 7px;
}
.menus-pied__subtitle {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-weight: 400;
}

/*** Responsive Mobile ≥768px - Accueil ***/
/*** Responsive Tablette - Accueil ***/
@media screen and (min-width: 1024px) {
  .order__title {
    text-align: center;
  }
  .order__nav {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 36.51px;
  }
  .order__btn {
    margin-left: 0;
    margin-right: 0;
    padding-right: 30px;
  }
  .restaurant {
    margin-right: 100px;
    margin-left: 100px;
  }
  .restaurant__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 100px;
         column-gap: 100px;
    row-gap: 50px;
    margin-bottom: 30px;
  }
}
/*** Responsive Desktop - Accueil ***/
@media screen and (min-width: 1440px) {
  .entete__title {
    font-size: 40px;
  }
  .entete__paragraph {
    margin-top: 18px;
  }
  .entete__btn {
    margin-bottom: 30px;
  }
  .order__title {
    text-align: start;
    margin-left: 20px;
  }
  .order__content {
    margin-right: 175.68px;
    margin-left: 175.68px;
  }
  .order__nav {
    flex-direction: row;
    justify-content: center;
    gap: 36.51px;
  }
  .order__btn {
    margin-left: 0;
    margin-right: 0;
    padding-right: 75px;
  }
  .restaurant {
    margin-right: 175.68px;
    margin-left: 175.68px;
  }
  .restaurant__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 100px;
         column-gap: 100px;
    row-gap: 50px;
    margin-bottom: 30px;
  }
  .card__bottom-desktop {
    -o-object-position: center 65%;
       object-position: center 65%;
  }
  .card__center-desktop {
    -o-object-position: center 57%;
       object-position: center 57%;
  }
  .pied {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .pied__logo {
    vertical-align: baseline;
    margin-top: 46px;
    margin-right: 60px;
  }
  .pied__text {
    display: flex;
    margin-top: 42px;
    margin-right: 75px;
  }
  .pied__subtitle {
    flex-direction: row;
    margin-left: 45px;
    gap: 14px;
  }
  .pied__partenaire {
    margin-left: 8px;
  }
}
/*** Responsive - Menus ***/
@media screen and (min-width: 1440px) {
  .menus__title {
    justify-content: center;
    gap: 24px;
    padding-top: 51px;
  }
  .menus__photo {
    height: 375px;
    -o-object-position: center 58%;
       object-position: center 58%;
  }
  .menus__content {
    margin: -35px 192px 0 193px;
  }
  .menus__dish {
    margin: 0 211px 0 210px;
  }
  .pied {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 0;
  }
  .pied__logo {
    vertical-align: baseline;
    margin-top: 46px;
    margin-right: 60px;
  }
  .pied__text {
    display: flex;
    margin-top: 42px;
    margin-right: 75px;
  }
  .pied__subtitle {
    flex-direction: row;
    margin-left: 45px;
    gap: 14px;
  }
  .pied__partenaire {
    margin-left: 8px;
  }
}/*# sourceMappingURL=style.css.map */