@import "./Utils/mixins";
@import "./Utils/variables";
@import "./Base/base";
@import "./Layouts/footer";

/*** Page d'accueil ***/

.entete {
    text-align: center;
    &__logo {
        position: relative;
        background: $secondary-background;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    }
    &__logo img {
        width: 162px;
        padding: 14px 0 5px 0;
    }
    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
        background: $light-grey;
        color: $dark-grey;
        padding: 15.5px 0;    
    }
    &__title {
        margin: 39.5px 58px 0 42px;
    }
    &__paragraph {
        font-weight: 300;
        font-size: 18px;
        margin-top: 10px;
    }
    &__btn {
        @include btn;
        margin-top: 27px;
        margin-bottom: 57px;
        padding: 13px 18.75px;
    }
}

.order {
    background: $secondary-background;
    padding-top: 48px;
    padding-bottom: 68px;
    &__title {
        margin-left: 20px;
    }
    &__nav {
        display: flex;
        flex-direction: column;
        margin-top: 26px;
        gap: 24.92px;
    }
    &__btn {
        @include order-btn;
    }
    &__btn1 {
        gap: 27px;
    }
    &__btn2 {
        gap: 23px;
    }
    &__btn3 {
        gap: 20px;
    }
    &__icon1, &__icon2 {
        color: $medium-grey;
    }
    &__icon3 {
        color: $primary-color;
    }
}

.btn1, .btn2, .btn3 {
    &__number {
        @include order-number;
    }
}

.restaurant {
        &__title {
            margin-top: 54px;
            margin-left: 20px;
        }
        a {
            color: black;
            text-decoration: none;
        }
        &__cards {
            display: flex;
            flex-direction: column;
            gap: 18px;
            margin: 20px 18px 66px 17px;
    }
}

.card {
    background: $secondary-background;        
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        &__photo-badge {
            position: relative;
        }    
        &__photo {
            @include restaurant-photo
        }
        &__bottom {
            object-position: bottom;
        }
        &__center {
            object-position: center 61%;
        }
        &__nouveau {
            @include restaurant-badge;
        }
        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__text {
            margin: 16px 0 12px 13px;
        }
        &__subtitle {
            font-weight: 300;
            font-size: 17px;
            margin-top: 5px;
        }
        &__heart {
            margin-right: 25px;
            &--full {
                position: relative;
                opacity: 0;
                transition: opacity 600ms;               
            }
            &--empty {
                position: absolute;
                opacity: 1;
                transition: opacity 600ms;
            }
            &:hover &--empty {
                opacity: 1;
            }
            &:hover &--full {
                opacity: 1;
                transition: opacity 600ms;
            }
        }
}

.pied {
    @include footer;
}

/*** Pages des menus ***/

.menu-entete {
    @include menus-header;
}

.menus {
    @include menus-main;
}

.menus-pied {
    @include footer;
}

/*** Responsive Mobile ≥768px - Accueil ***/

@media screen and (min-width: 768px) {
    .order {
        &__title {
            text-align: center;
            margin-bottom: 25px;
        }
        &__nav {
            width: 70%;
            margin: auto;
        }
    }
}

/*** Responsive Tablette - Accueil ***/

@media screen and (min-width: 1024px) {
    .order {
        &__title {
            text-align: center;
        }
        &__nav {
            width: 100%;
            flex-direction: row;
            justify-content: center;
            gap: 36.51px;
        }
        &__btn {
            margin-left: 0;
            margin-right: 0;
            padding-right: 30px;
        }
    }
    .restaurant {
        margin-right: 100px;
        margin-left: 100px;
        &__cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 100px;
            row-gap: 50px;
            margin-bottom: 30px;
        }
    }
}

/*** Responsive Desktop - Accueil ***/

@media screen and (min-width: 1440px) {
    .entete {
        &__title {
            font-size: 40px;
        }
        &__paragraph {
            margin-top: 18px;
        }
        &__btn {
            margin-bottom: 30px;
        }
    }
    .order {
        &__title {
            text-align: start;
            margin-left: 20px;
        }
        &__content {
            margin-right: 175.68px;
            margin-left: 175.68px;
        }
        &__nav {
            flex-direction: row;
            justify-content: center;
            gap: 36.51px;
        }
        &__btn {
            margin-left: 0;
            margin-right: 0;
            padding-right: 75px;
        }
    }

    .restaurant {
        margin-right: 175.68px;
        margin-left: 175.68px;
        &__cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 100px;
            row-gap: 50px;
            margin-bottom: 30px;
        }
    }

    .card {
        &__bottom-desktop {
            object-position: center 65%;
        }
        &__center-desktop {
            object-position: center 57%;
        }
    }

    .pied {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        &__logo {
            vertical-align: baseline;
            margin-top: 46px;
            margin-right: 60px;
        }
        &__text {
            display: flex;
            margin-top: 42px;
            margin-right: 75px;
        }
        &__subtitle {
            flex-direction: row;
            margin-left: 45px;
            gap: 14px;
        }
        &__partenaire {
            margin-left: 8px;
        }
    }
}

/*** Responsive - Menus ***/

@media screen and (min-width: 1440px) {
    .menus {
        &__title {
            justify-content: center;
            gap: 24px;
            padding-top: 51px;
        }
        &__photo {
            object-position: center 64%;
        }
        &__content {
            margin: -35px 192px 0 193px;
        }
        &__dish {
            margin: 0 211px 0 210px;
        }
    }

    .pied {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 0;
        &__logo {
            vertical-align: baseline;
            margin-top: 46px;
            margin-right: 60px;
        }
        &__text {
            display: flex;
            margin-top: 42px;
            margin-right: 75px;
        }
        &__subtitle {
            flex-direction: row;
            margin-left: 45px;
            gap: 14px;
        }
        &__partenaire {
            margin-left: 8px;
        }
    }
}