* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background: $primary-background;
}

h1 {
    font-weight: 700;
    font-size: 24px;
}

h2 {
    font-weight: 700;
    font-size: 18px;
}

.menus {
    background: $secondary-background;    
}

.menus h1 {
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 28px;
}

.menus h2 {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.menus h3 {
    font-weight: 500;
    font-size: 18px;
}

.menus__subtitle {
    font-weight: 300;
    font-size: 15.0431px;
}

.menus__price {
    font-weight: 700;
}