* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 375px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background: $primary-background;
}

h1 {
    font-weight: 700;
    font-size: 24px;
}

h2 {
    font-weight: 700;
    font-size: 18px;
}