@mixin btn {
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border: none;
    &:hover {
        cursor: pointer;
        opacity: 85%;
    }
}

@mixin order-btn {
    position: relative;
    display: flex;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 32.51px;
    padding: 28.59px 0 28.12px 33.47px;
}

@mixin order-number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -12px;
    width: 24px;
    height: 24px;
    background: $primary-color;
    color: $secondary-background;
    border-radius: 50%;
}

@mixin restaurant-photo {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

@mixin restaurant-badge {
    position: absolute;
    top: 13px;
    right: 12px;
    color: $dark-green;
    background-color: $light-green;
    padding: 7px 9.63px 7px 9px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

/*** Mixins - Menus ***/

@mixin menus-header {
    position: relative;
    display: flex;
    justify-content: center;
    background: $secondary-background;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    &__arrow {
        position: absolute;
        color: $dark-grey;
        top: 14px;
        left: 23px;
    }
    &__logo img {
        width: 162px;
        margin: 14px 0 5px 0;
    }
}

@mixin menus-main {
    &__photo { 
        display: block;   
        width: 100%;
        height: 275px;
        object-fit: cover;
    }
    &__content {
        position: relative;
        background: $primary-background;
        border-radius: 40px 40px 0 0;
        margin-top: -55px;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 41px 0 17px;
        padding-top: 32px;
    }
    &__dish h2 {
        position: relative;
        margin: 40px 0 0 13px;
    }
    &__dish h2::after {
        content: "";
        position: absolute;
        border: 2px solid $light-green;
        top: 23px;
        left: 0;
        width: 36px;
    }
    &__navigation {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 20px;
    }
    &__choice {
        background: $secondary-background;
        border-radius: 15.0431px;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        padding: 12px 13px 12px 15px;
        margin: 0 13px;
    }
    &__subtitle {
        display: flex;
        justify-content: space-between;
        margin-top: 3px;
    }
    &__btn {
        @include btn;
        margin: auto;
        width: 186px;
        margin-top: 28px;
        margin-bottom: 40px;
        padding: 13px 16px;
    }
}

@mixin footer {
    padding: 22px 0 22px 25px;
    &__logo img {
        width: 95px;
        filter: invert(100%);
        margin: 0 0 16px 0;
    }
    &__proposition {
        display: flex;
        align-items: center;
        gap: 11px;
        margin-bottom: 7px;
    }
    &__partenaire {
        display: flex;
        align-items: center;
        gap: 9px;
        margin-bottom: 7px;
    }
    &__subtitle {
        display: flex;
        flex-direction: column;
        gap: 7px;
        font-weight: 400;
    }
}

@mixin footer-desktop {
    .pied {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        &__logo {
            vertical-align: baseline;
            margin-top: 46px;
            margin-right: 60px;
        }
        &__text {
            display: flex;
            margin-top: 42px;
            margin-right: 75px;
        }
        &__subtitle {
            flex-direction: row;
            margin-left: 45px;
            gap: 14px;
        }
        &__partenaire {
            margin-left: 8px;
        }
    }
}