@mixin btn {
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border: none;
    &:hover {
        cursor: pointer;
        opacity: 85%;
    }
}

@mixin order-btn {
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

@mixin order-number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 310px;
    width: 24px;
    height: 24px;
    background: $primary-color;
    color: $secondary-background;
    border-radius: 50%;
}